#footerMain {
    height: auto;
    width: 100%;
    background-color: #52606c;
    clear: both;
    position: fixed;
    bottom: 0;
 }

#footerMain #copyright {
    height: auto;
    width: 100%;
    min-height: 50px;
    display: inline-block;
    border-top: 1px solid #72777d;
    clear: both;    
    text-align: center;
}

#footerMain #copyright span {
    line-height: 50px;
    color: #ffffff;
    opacity: 0.4;
    font-size: 16px;    
}