<div>
  <br>
  <br>
  <div class="banner">
    <img mat-card-image class="center" src="../../../assets/images/Logo_Redacao_transp.png">
  </div>

  <br>
  <div class="container">
    <br>
    <h2 class="center">Porque o seu sucesso é o nosso melhor roteiro.</h2>
    <br>
    <br>
    <p class="center">
      Destino: redação 1000 é um site com profissionais altamente capacitados a auxiliar a sua produção,
       seja qual for a sua meta- ENEM, vestibulares, concursos ou  projetos de escrita diversos.
    </p>
    <br>
    <div class="container">
      <img mat-card-image class="center" src="../../../assets/images/approved.PNG">
    </div>
    <br>  
    <h1>Como funciona?</h1>
    <ul>
      <li>Inscreva-se <a href="#" routerLink="../cadastro">aqui</a></li>
      <li>Escolha um tema do banco de redações</li>
      <li>Escreva o seu texto e envie-o para nós</li>
      <li>Em 48 horas sua redação estará corrigida e comentada pelos melhores profissionais da área.
      </li>
    </ul>
    <br>
    <br>
    <br>
  </div>
</div>