<div class="main">

  <div class="container">
    <img mat-card-image class="center" width="300px" height="200px" src="../../../assets/images/redacao-1000-logo.png">
  </div>

  <br>
  <div class="container">
    <br>
    <h3 class="center">Porque  ajudar você  a escrever bem é  o  nosso melhor roteiro.</h3>
    <br>
    <br>
    <p class="center">
      Destino: redação 1000 é um site com profissionais altamente capacitados a auxiliar a sua produção,
       seja qual for a sua meta- ENEM, vestibulares, concursos ou  projetos de escrita diversos.
    </p>
    <br>
    <h2>Como funciona?</h2>
    <ul>
      <li>Inscreva-se</li>
      <li>Escolha um tema do banco de redações</li>
      <li>Escreva o seu texto e envie-o para nós</li>
      <li>Em 48 horas sua redação estará corrigida e comentada pelos melhores profissionais da área.
      </li>
    </ul>
    <br>
    <br>
    <br>
  </div>
</div>