<section class="center">
  <mat-card id="banner">
    <mat-card-content>
      <img mat-card-image src="../../../assets/images/novo_logo.png" alt="logo">
      <h1>Redações</h1>
    </mat-card-content>
  </mat-card>
</section>
<br>
<br>

<mat-card class="center">
  <mat-card-content>
    <h2>Tema da redação do ENEM 2018:</h2>
    <p>
      Manipulação do comportamento do usuário pelo controle de dados na internet.
    </p>
    <br>
    <br>
    <div class="container">
      <img mat-card-image class="center" src="../../../assets/images/ENEM.PNG">
    </div>
  </mat-card-content>
</mat-card>
<br>
<br>

<mat-card class="center">
  <mat-card-content>
    <h2>UFRGS - 2016</h2>
    <p>
      Considerando que, atualmente, discute-se, de diferentes pontos de vista, o futuro do livro no mundo contemporâneo,
      escreva um texto dissertativo sobre o tema
      <b>"O livro na era da digitalização do escrito e da adoção de novas ferramentas de leitura".</b>
    </p>
    <br>
    <br>
    <div class="container">
      <img mat-card-image class="center" src="../../../assets/images/UFRGS_0001.PNG">
    </div>
  </mat-card-content>
</mat-card>
<br>
<br>

<mat-card class="center">
  <mat-card-content>
    <h2>UFRGS - 2015</h2>
    <p>
      A música Canção da América, composta por Milton Nascimento e Fernando Brandt, fala daquela amizade capaz de
      resistir
      à distância e ao tempo, característica de uma época em que o contato físico entre amigos era a forma mais usual de
      aproximação. Era um tempo em que se valorizavam os poucos e verdadeiros amigos.
      Atualmente, com a conectividade das redes sociais, a realidade é outra. Hoje é possível manter-se em contato
      contínuo com pessoas que estejam em qualquer lugar do planeta, o que permite multiplicar de modo expressivo o
      número
      de amizades. Paradoxalmente, o apego ao mundo virtual parece estar promovendo um outro tipo de distanciamento, já
      que não é incomum, hoje em dia, ver amigos reunidos em um mesmo ambiente físico, mas isolados uns dos outros pela
      força atrativa dos tablets e dos smartphones.
      <b>O que é amizade nos dias de hoje?</b>
    </p>
    <br>
    <br>
    <div class="container">
      <img mat-card-image class="center" src="../../../assets/images/UFRGS_0002.PNG">
    </div>
  </mat-card-content>
</mat-card>
<br>
<br>

<mat-card class="center">
  <mat-card-content>
    <h2>UFRGS - 2014</h2>
    <p>
      Considerando que um livro clássico, o seu clássico, é aquele que nunca saiu da sua cabeça, aquele que você sempre
      pensa em voltar a ler, aquele que você recomendaria ao seu melhor amigo, <b>identifique um livro que seja o seu
        clássico;</b> explique por que ele mereceu esse lugar em sua vida; apresente argumentos que justifiquem sua
      escolha; redija um texto defendendo seu ponto de vista.
    </p>
    <br>
    <br>
    <div class="container">
      <img mat-card-image class="center" src="../../../assets/images/UFRGS_0003.PNG">
    </div>
  </mat-card-content>
</mat-card>
<br>
<br>

<mat-card class="center">
  <mat-card-content>
    <h2>UFRGS - 2013</h2>
    <p>
      Considerando a popularidade atual do humor, manifestado nas mais diversas formas, em diferentes meios de
      comunicação, e as reações da sociedade a essas manifestações, redija uma dissertação sobre <b>o papel e os limites
        do humor na sociedade.</b>
    </p>
    <br>
    <br>
    <div class="container">
      <img mat-card-image class="center" src="../../../assets/images/UFRGS_0004.PNG">
    </div>
  </mat-card-content>
</mat-card>
<br>
<br>

<mat-card class="center">
  <mat-card-content>
    <h2>UFRGS - 2012</h2>
    <p>
      Considerando que é por intermédio do nosso idioma que nossa identidade enquanto Nação se configura, que essa
      identidade se revela na percepção da língua portuguesa como herança, como memória e como criação e que cada um
      desses aspectos pode ser observado não só dentro de nós próprios como no âmbito coletivo nacional e global,
      <b>escolha um ou mais desses três aspectos que você julgue importantes acerca da língua portuguesa; determine como
        e
        porque eles representam, para essa língua, algum tipo de “Adamastor”;</b> e redija uma redação, de caráter
      dissertativo, justificando sua escolha e defendendo seu ponto de vista.
    </p>
    <br>
    <br>
    <div class="container">
      <img mat-card-image class="center" src="../../../assets/images/UFRGS_0005.PNG">
    </div>
  </mat-card-content>
</mat-card>
<br>
<br>

<mat-card class="center">
  <mat-card-content>
    <h2>UFRGS - 2011</h2>
    <p>
      A análise da relação dos jovens com a profissão docente permitiu <b>reflexão sobre a diminuição do interesse na
        área
        do magistério por parte dos futuros profissionais</b>, considerando uma pesquisa realizada pela Fundação Carlos
      Chagas e duas tabelas com a relação de candidatos por vaga nos vestibulares da UFRGS de 2005 e de 2011.
    </p>
    <br>
    <br>
    <div class="container">
      <img mat-card-image class="center" src="../../../assets/images/UFRGS_0006.PNG">
    </div>
  </mat-card-content>
</mat-card>
<br>
<br>

<mat-card class="center">
  <mat-card-content>
    <h2>UFRGS - 2009</h2>
    <p>
      Incivilidades que as pessoas cometem cotidianamente,como a ocupação de assentos reservados a portadores de
      necessidades especiais, grávidas e idosos. Escolha dois ou mais assuntos e redija um texto dissertativo
      argumentando
      <b>de que forma as incivilidades afetam a vida em sociedade.</b>
    </p>
    <br>
    <br>
    <div class="container">
      <img mat-card-image class="center" src="../../../assets/images/UFRGS_0007.PNG">
    </div>
  </mat-card-content>
</mat-card>
<br>
<br>
<br>
<br>