<section class="center">
  <mat-card id="banner">
    <mat-card-content>
      <img mat-card-image src="../../../assets/images/novo_logo.png" alt="logo">
      <h2>Revisões</h2>
    </mat-card-content>
  </mat-card>
</section>
<br>
<br>
<div class="center">
  <mat-card>
    <mat-card-content>
      <p>Lista de revisões que ainda não foram corrigidas por ninguém</p>
      <a mat-raised-button color="primary" routerLink="../revisoes-novas">Novas</a>
    </mat-card-content>
  </mat-card>
  <br>
  <br>
  <mat-card>
    <mat-card-content>
      <p>Lista de revisões que estão sendo corrigidas por você</p>
      <a mat-raised-button color="primary" routerLink="../revisoes-pendentes">Pendentes</a>
    </mat-card-content>
  </mat-card>
  <br>
  <br>
  <mat-card>
    <mat-card-content>
      <p>Lista de revisões finalizadas</p>
      <a mat-raised-button color="primary" routerLink="../revisoes-finalizadas">Finalizadas</a>
    </mat-card-content>
  </mat-card>  
</div>
<br>
<br>
<br>
<br>
<br>