<section class="center">
  <mat-card id="banner">
    <mat-card-content>
      <img mat-card-image src="../../../assets/images/novo_logo.png" alt="logo">
      <h1>QUIZ</h1>
    </mat-card-content>
  </mat-card>
</section>

<mat-card class="center">
  <mat-card-content>
    <h2>Questão</h2>
    <p>
      Alternativas
    </p>
    <div class="container">
      <img mat-card-image class="center" src="../../../assets/images/ENEM.PNG">
    </div>
  </mat-card-content>
</mat-card>
<br>
<br>

<br>
<br>
<br>
<br>