<section class="center">
  <mat-card id="banner">
    <mat-card-content>
      <img mat-card-image src="../../../assets/images/novo_logo.png" alt="logo">
      <h2>Entrar</h2>
    </mat-card-content>
  </mat-card>
</section>
<br>
<div class="login">
  <mat-card *ngIf="loginFailed">
    <mat-card-content>
      <h2> {{ errorMessage }} </h2>
      <mat-card-footer>
          <div class="container">
            <button mat-raised-button color="error" type="button" (click)="onNotificationClick(loginForm)">Fechar</button> 
          </div>
      </mat-card-footer>
    </mat-card-content>
    <br>
  </mat-card>
</div>

<div class="login">
  <mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" autocomplete="off" autocorrect="off" novalidate>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="E-mail" name="email" type="text" minlength="5" maxlength="30"
            formControlName="email">
          <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Campo Obrigatório.</mat-error>
          <mat-error *ngIf="loginForm.controls['email'].hasError('email')">E-mail inválido.</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
          <input matInput placeholder="Senha" name="senha" type="password" minlength="5" maxlength="30"
            formControlName="senha">
          <mat-error *ngIf="loginForm.controls['senha'].hasError('required')">Campo Obrigatório.</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-card-footer>
          <button mat-raised-button color="primary" type="submit" #btnLogin>
            Entrar
          </button>
        </mat-card-footer>

      </mat-card-content>
    </form>
  </mat-card>
</div>
<br>
<br>
<br>
<br>
<br>