<section class="center">
  <mat-card id="banner">
    <mat-card-content>
      <img mat-card-image src="../../../assets/images/novo_logo.png" alt="logo">
      <h2>Entrar</h2>
    </mat-card-content>
  </mat-card>
</section>
<br>
<section class="center">
  <mat-card *ngIf="loginFailed">
    <mat-card-content>
      <h2 class="error-color">{{ errorMessage }}</h2>
      <mat-card-footer>
        <div class="container">
          <button mat-raised-button color="error" type="button" (click)="onNotificationClick()">Fechar</button>
        </div>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
</section>

<div class="center">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" autocorrect="off" novalidate>
        <mat-form-field>
          <input matInput placeholder="E-mail" name="email" type="text" minlength="5" maxlength="30"
            formControlName="email">
          <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Campo Obrigatório.</mat-error>
          <mat-error *ngIf="loginForm.controls['email'].hasError('email')">E-mail inválido.</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
          <input matInput placeholder="Senha" name="senha" type="password" minlength="5" maxlength="30"
            formControlName="senha">
          <mat-error *ngIf="loginForm.controls['senha'].hasError('required')">Campo Obrigatório.</mat-error>
          <mat-error *ngIf="loginForm.controls['senha'].hasError('minlength')">Tamanho Inválido.</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-card-footer>
          <button mat-raised-button color="primary" type="submit" 
                  [disabled]="!loginForm.valid || loginFailed || isProcessing" #btnLogin>
            Entrar
          </button>
          <br>
          <br>
          <h5>Esqueceu sua senha? <a href="#" [routerLink]="['../', 'email-redefinir-senha']">clique aqui</a></h5>
        </mat-card-footer>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<br>
<br>
<br>
<br>
<br>