<section class="center">
    <mat-card id="banner">
        <mat-card-content>
          <img mat-card-image src="../../../assets/images/novo_logo.png" alt="logo">
          <h2>Entrar</h2>
        </mat-card-content>
    </mat-card>
</section>
<br>
<div class="login">
  <form #frmLogin="ngForm" (ngSubmit)="onSubmitForm()" novalidate>
    <mat-card-content>
      <mat-form-field>
            <input matInput placeholder="E-mail" name="email" type="text" minlength="5" maxlength="30">
      </mat-form-field>
      <br>
      <br>
      <mat-form-field>
        <input matInput placeholder="Senha" name="senha" type="password" minlength="5" maxlength="30">
      </mat-form-field>
      <br>
      <br>
      <mat-card-footer>
        <button mat-raised-button color="primary" type="submit">
          Entrar
        </button>
      </mat-card-footer>

    </mat-card-content>
  </form>
</div>  
<br>
<br>
<br>
<br>
<br>
