<section class="center">
    <mat-card id="banner">
      <mat-card-content>
        <img mat-card-image src="../../../assets/images/novo_logo.png" alt="logo">
        <h2>Nova Senha</h2>
      </mat-card-content>
    </mat-card>
  </section>
  <br>
  <section class="center">
    <mat-card *ngIf="errorMessage" (click)="onNotificationClick(frmCadastroUsuario)">
      <mat-card-content>
        <h2 class="error-color"> {{ errorMessage }} </h2>
      </mat-card-content>
    </mat-card>
  </section>
  <div class="center">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="resetSenhaForm" (ngSubmit)="onSubmit()" autocomplete="off">
          <br>
          <label>E-mail</label>
          <h3>{{ email }}</h3>
          <br>
          <mat-form-field>
            <input matInput placeholder="Nova Senha" type="password" minlength="5" maxlength="30" formControlName="senha">
            <mat-error *ngIf="resetSenhaForm.controls['senha'].hasError('required')">Campo Obrigatório.</mat-error>
            <mat-error *ngIf="resetSenhaForm.controls['senha'].hasError('minlength')">Campo Inválido.</mat-error>               
          </mat-form-field>
          <br>
          <br>
          <mat-form-field>
            <input matInput placeholder="Repetir Senha" type="password" minlength="5" maxlength="30" formControlName="confirmaSenha">
            <mat-error *ngIf="resetSenhaForm.controls['confirmaSenha'].hasError('required')">Campo Obrigatório.</mat-error>
            <mat-error *ngIf="resetSenhaForm.controls['confirmaSenha'].hasError('minlength')">Campo Inválido.</mat-error>
          </mat-form-field>
          <br>
          <br>
          <mat-card-footer>
            <button mat-raised-button color="primary" type="submit" #btnSalvarCadastro [disabled]="!resetSenhaForm.valid || isProcessing">
              Salvar
            </button>
          </mat-card-footer>
        </form>
      </mat-card-content>
      <br>
    </mat-card>  
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>