
.mat-form-field {
    width: 80%;
}

@media screen and (min-width:680px) {
    .mat-form-field {
        width: 30%;
    }    
}

.mat-raised-button {
    margin-right: 18px;
}

.login {
    text-align: center;
    margin: 1em 1em 1em 1em;
}