<br>
<br>
<div class="login">
  <form #frmLogin="ngForm" (ngSubmit)="onSubmitForm()" novalidate>
    <mat-card-header>
      <mat-card-title><h2>Cadastrar-se</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <mat-form-field>
        <input matInput placeholder="E-mail" name="email" type="text" minlength="5" maxlength="30">
      </mat-form-field>
      <br>
      <br>
      <mat-form-field>
        <input matInput placeholder="Senha" name="senha" type="password" minlength="5" maxlength="30">
      </mat-form-field>
      <br>
      <br>
      <mat-form-field>
        <input matInput placeholder="Repetir Senha" name="repetirSenha" type="password" minlength="5" maxlength="30">
      </mat-form-field>
      <br>
      <br>
      <mat-card-footer>
        <button mat-raised-button color="primary" type="submit">
          Entrar
        </button>
      </mat-card-footer>

    </mat-card-content>
  </form>
</div>  

