<section class="center">
    <mat-card id="banner">
      <mat-card-content>
        <img mat-card-image src="../../../assets/images/novo_logo.png" alt="logo">
        <h2>Revisões em andamento</h2>
      </mat-card-content>
    </mat-card>
  </section>
  <br>
  <div class="center">
    <mat-card>
      <mat-card-content>
        <h3 *ngIf="errorMessage" class="error-color" (click)="onCloseErrorMessage()">{{ errorMessage }}</h3>
        <div *ngIf="isProcessing">
          <h3>Carregando...</h3>
        </div>
        <div *ngIf="revisoes" class="container">
          <h3 *ngIf="revisoes.length == 0">*Não há itens para esta lista</h3>
          <mat-list>
            <mat-list-item *ngFor="let revisao of revisoes" class="revisao-item">
              <p mat-line *ngIf="revisao.arquivo.tipoArquivo == 'Revisao'">
                  <a mat-raised-button color="primary" (click)="uploadArquivoCorrecao(revisao)">Upload Correção</a>
              </p>
              <h4 mat-line>
                  <a mat-button [href]="revisao.arquivo.url" target="_blank">
                    {{ revisao.arquivo.nome }}
                  </a>
                  <button *ngIf="revisao.arquivo.tipoArquivo == 'Correcao'" mat-button color="warn" (click)="confirmarDelecaoRevisao(revisao)">Deletar</button>
              </h4>
              <p mat-line>
                  e-mail: {{ revisao.assinanteEmail }}
              </p>
              <p mat-line *ngIf="revisao.arquivo.tipoArquivo == 'Revisao'">
                  postado: {{ revisao.arquivo.dataAtualizacao | date:'dd/MM/yyyy' }} &nbsp; - &nbsp;
                   status: {{ revisao.statusRevisao }}
              </p>              
              <br>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
    </mat-card>
    <br>
    <br>    
    <a mat-raised-button color="primary" routerLink="../painel-revisor">Voltar</a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>