<section class="center">
  <mat-card id="banner">
    <mat-card-content>
      <img mat-card-image src="../../../assets/images/novo_logo.png" alt="logo">
    </mat-card-content>
  </mat-card>
</section>
<br>
<br>

<h3 class="container" *ngIf="errorMessage" class="error-color" (click)="onCloseErrorMessage()">{{ errorMessage }}</h3>
<div *ngIf="isProcessing">
  <h3 class="center">Carregando...</h3>
</div>
<h3 class="center" *ngIf="postagens && postagens.length == 0">*Não há registros</h3>
<div class="container" *ngIf="isAdmin()">
  <button mat-raised-button color="primary" type="button" (click)="onNovaPostagem()">Novo</button>
  <br>
</div>

<mat-card class="center" *ngFor="let postagem of postagens">
  <mat-card-content>    
    <h2>{{ postagem.titulo }}</h2>
    <div [innerHTML]="sanitizeHTML(postagem.texto)">      
    </div>
    <div class="container">
      <br>
      <img *ngIf="postagem.urlImagem" mat-card-image class="center" [src]="postagem.urlImagem">
    </div>
    <div *ngIf="isAdmin()">
      <button mat-raised-button color="primary" type="button" (click)="onEditarPostagem(postagem)">Editar</button>
      &nbsp;&nbsp;
      <button mat-raised-button color="warn" type="button" (click)="onConfirmarExclusaoPostagem(postagem)">Excluir</button>
    </div>
  </mat-card-content>
</mat-card>
<br>
<br>
<br>
<br>
<br>