.sidenav-container {
  height: 100%;
}

mat-sidenav-content {  
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width:690px) {
  mat-sidenav-content {
    background-size: 80%;
  } 
}

.sidenav {
  width: 200px;  
}

.sidenav .mat-toolbar {
  background: inherit;
  text-align: center;
}

.mat-toolbar.mat-primary {
  background: #52606c;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 76px;
}

.mat-button {
  font: 570 20px/32px Roboto,"Helvetica Neue",sans-serif;  
  color: #ffffff;
}

.mat-button.home-btn {
  width: 100%;
  height: 45px;
  margin: 0.8rem 0rem 0rem 0rem;
}

.container-right {
  text-align: right;
}

.container-center {
  text-align: center;
  margin: auto;
}