<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport      
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" 
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
      
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="home"               (click)="drawer.toggle()">Home</a>
      <hr>
      <a mat-list-item href="#" routerLink="postagens/propostas" (click)="drawer.toggle()">Propostas</a>
      <a mat-list-item href="#" routerLink="postagens/dicas"    (click)="drawer.toggle()">Dicas</a>
      <a mat-list-item href="#" routerLink="cadastro"           *ngIf="!isAuthenticated()" (click)="drawer.toggle()">Cadastre-se</a>
      <a mat-list-item href="#" routerLink="entrar"             *ngIf="!isAuthenticated()" (click)="drawer.toggle()">Entrar</a>

      <div *ngIf="isAdmin(); then revisor else assinante"></div>
      <ng-template #revisor>
         <a mat-list-item href="#" routerLink="revisoes/painel-revisor" *ngIf="isAuthenticated()"  (click)="drawer.toggle()">Revisões</a>       
      </ng-template>
      <ng-template #assinante>         
         <a mat-list-item href="#" routerLink="revisoes/assinante" *ngIf="isAuthenticated()"  (click)="drawer.toggle()">Minhas Redações</a>       
      </ng-template>
      
      <hr>
      <a mat-list-item href="#" *ngIf="isAuthenticated()" (click)="logout(drawer)">Sair</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div *ngIf="!(isHandset$ | async)"> 
        <a type="button" routerLink="home"><img width="64" height="auto" src="../../../assets/images/icons/icon-home-189x83.png" alt="home"/></a>
      </div>

      <div class="container-center">        
      </div>

      <div class="container-center" *ngIf="!(isHandset$ | async)">
        <a type="button" mat-button class="mat-button" href="#">Sobre</a>&nbsp;&nbsp;
        <a type="button" mat-button class="mat-button" href="#" routerLink="postagens/redacoes">Redações</a>&nbsp;&nbsp;
        <a type="button" mat-button class="mat-button" href="#" routerLink="postagens/dicas">Dicas</a>&nbsp;&nbsp;
        
        <a *ngIf="!isAuthenticated()" type="button" mat-button class="mat-button" href="#" routerLink="cadastro">Cadastre-se</a>&nbsp;&nbsp;
        <a *ngIf="!isAuthenticated()" type="button" mat-button class="mat-button" href="#" routerLink="entrar">Entrar</a>&nbsp;&nbsp;
                
        <div *ngIf="isAdmin(); then revisoes else redacoes"></div>
        <ng-template #revisoes>
           <a type="button" mat-button class="mat-button" href="#" routerLink="revisoes/painel-revisor">Revisões</a>&nbsp;&nbsp;
        </ng-template>
        <ng-template #redacoes>
           <a type="button" mat-button class="mat-button" href="#" *ngIf="isAuthenticated()" routerLink="revisoes/assinante">Minhas redações</a>&nbsp;&nbsp;
        </ng-template>
        
        <a type="button" mat-button class="mat-button" href="#" *ngIf="isAuthenticated()" (click)="logout()">Sair</a>
      </div>
    </mat-toolbar>

    <ng-content></ng-content>
    
  </mat-sidenav-content>
</mat-sidenav-container>

